@keyframes slideIn {
  from {
    transform: translateX(400px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

:host ::ng-deep .animate-slide-in {
  animation: slideIn 0.3s ease-out;
}